* {
    text-decoration: none;
    /* border: 1px solid gray; */
}

body {
    background-color: beige;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.leftdesign {
    width: 400px;
    height: 650px;
    background-image: linear-gradient(to bottom, rgb(173, 19, 173), rgb(122, 55, 209));
    border-radius: 0 0 50% 0px;
    margin-top: -100px;
}

.rightdesign {
    width: 400px;
    height: 650px;
    background-image: linear-gradient(to top, rgb(252, 178, 252), rgb(204, 164, 255));
    border-radius: 50% 0 0 0;
    filter: opacity(50%);
    margin-top: 100px;
}

.phonetop {
    width: 230px;
    height: 70px;
    background-image: linear-gradient(to right, rgb(122, 55, 209, 50%), rgb(173, 19, 173, 50%));
    border-radius: 20px 20px 5px 5px;
    padding: 20px 0 0 20px;
}

.iphone {
    float: right;
    position: relative;
    right: 65px;
    bottom: 25px;  
    width: 120px;
    height: 25px;   
    background-color: white;
    border-radius: 10px 10px 25px 25px;

}

.phonetop img {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50% 50% 50% 50%;
    border: 2px solid white;
    clear: both;
    margin-left: 10px;
}

div span {
    display: inline-block;
    clear: both;
    margin: 0 0 0 20px;
}

div br + span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    color: rgb(100, 250, 137);
}

.phone {
    position: relative;
    right: 50px;
    width: 250px;
    height: fit-content;
    border: 10px solid white;
    border-radius: 25px 25px 25px 25px;
    margin-top: 200px;
    background-color: rgb(224, 224, 224);
    filter: drop-shadow(1px 1px 40px rgb(169, 149, 185))
}

.phonebottom {
    width: 200px;
    height: 35px;
    /* border: 1px solid gray; */
    background-color: white;
    align-self: center;
    border-radius: 20px 20px 20px 20px;
    margin: 0 0 25px 25px;
}

.mainsection {
    position: relative;
    left: 50px;
    margin-top: 100px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    width: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 200%;
    color: gray;
}

li img {
    width: 25%;
    height: 25%;
    border-radius: 5px 5px 5px 5px;
    margin-left: 5px;
}

li {
    width: fit-content;
    background-image: linear-gradient(to right, rgb(255, 153, 255, 50%), rgb(206, 169, 255, 50%));
    list-style-type: none;
    border-radius: 4px 4px 4px 0;
    margin-top: 5px;
    margin-left: -25px;
    padding: 5px 10px 5px 10px;
}

li ul li{
    display: inline-block;
    width: fit-content;
    margin-left: 50px;
    background-image: linear-gradient(to right, rgb(214, 214, 214), white);
}

.dogs {
    background-image: none;
}

.phonebottom span {
    color: gray;
    clear: both;
    padding-top: 7px;
}

.phonebottom img {
    float: right;
    position: relative;
    left: 28px;
    bottom: 17px;
    width: 55%;
    height: 55%;
}




